* {
    font-family: 'Nunito', Verdana, sans-serif;
}

body.login {
    background-color: #34889c;
    background: linear-gradient(to right, #34889c, #4678c8);
}


.bg-login {
    background-image: url('../img/login.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#main-page {
    background-color: #f8f9fc;
}
.callout-primary {
     border-left-width: 6px;
     border-left-color: #428bca;
}
.callout-success {
    border-left-width: 6px;
    border-left-color: #1cc88a;
}
.callout-info {
    border-left-width: 6px;
    border-left-color: #36b9cc;;

}

.navbar-nav.navbar-center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1;
    font-size:1.5em;
   
}

.navbar-toggler{
    
    padding:0.5em;
       
}

.navbar{
   
    margin-top:1em;
   
}


.mat-ico{

    padding-right:0.5em;

}

.card-body-mod{
    
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;

}

.mat-ico-b{

    padding-left:0,5em;

}

.pad-ventas{

    padding-left: 6em;
    padding-right: 1em;
    font-size:0.75em;
}

.pad-codigo{

    padding-left: 4em;
    padding-right: 2em;
    font-size:0.75em;
}

.pad-precio{

    padding-left: 2em;
    padding-right: 2em;
    font-size:0.75em;
}

.floating-card {
    float: left;
    width: 600px;

}

.btn-group-lg>.btn, .btn-lg {
    padding:0.35em 0.65em;
    font-size: 0.75rem;
    
}